Repository luxonis/luxonis-ml, pull requests merged in 2024-08, with the labels that each got.

#141 Custom Tasks in Parsers
  luxonis_ml/data/__main__.py
  luxonis_ml/data/datasets/__init__.py
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/data/parsers/luxonis_parser.py
  tests/test_data/test_parsers.py
Labels: enhancement, data, CLI

#142 Pixel Masks Annotations
  luxonis_ml/data/__main__.py
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/parsers/segmentation_mask_directory_parser.py
  luxonis_ml/data/parsers/solo_parser.py
  luxonis_ml/embeddings/requirements.txt
Labels: enhancement, data

#144 Fix RLE `counts`
  luxonis_ml/data/datasets/annotation.py
Labels: fix, data

#143 Miscellaneous Fixes and Features
  luxonis_ml/data/__init__.py
  luxonis_ml/data/__main__.py
  luxonis_ml/data/augmentations/custom/mosaic.py
  luxonis_ml/data/augmentations/utils.py
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/datasets/base_dataset.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/data/requirements.txt
  luxonis_ml/data/utils/__init__.py
  luxonis_ml/data/utils/data_utils.py
  luxonis_ml/data/utils/labelstudio.py
  luxonis_ml/data/utils/visualizations.py
  luxonis_ml/tracker/tracker.py
  media/coverage_badge.svg
  tests/test_data/test_dataset.py
Labels: enhancement, fix, tests, data, tracker, CLI

#140 Annotation Loading Speed-Up
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/requirements.txt
Labels: enhancement, data

#147 Augmentation SpeedUp
  luxonis_ml/data/augmentations/utils.py
Labels: enhancement, data

#145 Custom Splits
  luxonis_ml/data/__main__.py
  luxonis_ml/data/datasets/base_dataset.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/data/parsers/luxonis_parser.py
  luxonis_ml/enums/__init__.py
  luxonis_ml/enums/enums.py
  tests/test_data/test_dataset.py
Labels: enhancement, tests, data

#148 Fix Freezing `LuxonisFileSystem.walk_dir` for GCS
  luxonis_ml/utils/__main__.py
  luxonis_ml/utils/filesystem.py
Labels: enhancement, fix, utils, CLI

#146 MLFlow System Metrics Logging
  luxonis_ml/tracker/tracker.py
Labels: enhancement, tracker

#152 Revert "Augmentation SpeedUp"
  luxonis_ml/data/augmentations/utils.py
Labels: bug, hotfix

#153 Layout Inference
  luxonis_ml/nn_archive/__init__.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/input.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/output.py
  luxonis_ml/nn_archive/utils.py
  tests/test_nn_archive/test_utils.py
Labels: enhancement, tests, NN Archive

#155 Updated `fsspec` Version
  luxonis_ml/utils/filesystem.py
  luxonis_ml/utils/requirements.txt
Labels: fix, utils

#157 Added `__iter__` to BaseLoader
  luxonis_ml/data/loaders/base_loader.py
  tests/test_data/test_dataset.py
Labels: fix, tests, data

#158 DevOps Updates
  .github/CODEOWNERS
  .github/labeler.yaml
  .github/workflows/ci.yaml
Labels: DevOps

#159 Fixed path retrieval in loader which caused slow training on GCP
  luxonis_ml/data/loaders/luxonis_loader.py
Labels: fix

#161 Fixed CLI Table Width
  luxonis_ml/data/__main__.py
Labels: enhancement, CLI

#162 kwargs in `setup_logging`
  luxonis_ml/utils/logging.py
Labels: enhancement, utils

#160 Removed Singletone Pattern from `LuxonisConfig`
  luxonis_ml/utils/config.py
  tests/test_utils/test_config.py
Labels: enhancement, utils
