Repository luxonis/luxonis-ml, pull requests merged in 2024-12, with the labels that each got.

#210 loading with empty annotations
  luxonis_ml/data/loaders/luxonis_loader.py
  tests/test_data/test_dataset.py
Labels: enhancement

#212 Added `--only-local` to `pytest`
  tests/test_data/conftest.py
  tests/test_data/test_dataset.py
  tests/test_data/test_task_ingestion.py
  tests/test_utils/test_filesystem.py
Labels: enhancement

#213 codecov base report update
  .github/workflows/ci.yaml
  .github/workflows/codecov.yaml
Labels: DevOps

#214 codecov workflow - added name and workflow_dispatch
  .github/workflows/codecov.yaml
Labels: fix, DevOps

#216 Change artifact download action
  .github/workflows/codecov.yaml
Labels: fix, DevOps

#215 Fix overlapping masks in semantic segmentation targets
  luxonis_ml/data/datasets/annotation.py
  tests/test_data/test_ann_creation.py
Labels: fix

#219 Set mdformat-gfm version explicitly to ensure compatibility
  .pre-commit-config.yaml
Labels: fix
