Repository luxonis/luxonis-ml, pull requests merged in 2024-07, with the labels that each got.

#121 Version Number 0.2.0
  .pre-commit-config.yaml
  pyproject.toml
Labels: enhancement, release

#123 Fix - NN Archive Validation
  luxonis_ml/nn_archive/config_building_blocks/base_models/head.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/head_outputs.py
  pyproject.toml
Labels: fix

#124 LuxonisML - v0.2.1
  luxonis_ml/nn_archive/config_building_blocks/base_models/head.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/head_outputs.py
  pyproject.toml
Labels: release

#126 Task Ingestion
  .gitignore
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/utils/environ.py
  luxonis_ml/utils/filesystem.py
  luxonis_ml/utils/logging.py
  tests/conftest.py
  tests/test_data/test_task_ingestion.py
Labels: enhancement

#127 NN Archive - Parsers Support
  luxonis_ml/nn_archive/config_building_blocks/__init__.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/__init__.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/head.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/head_metadata.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/head_outputs.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/input.py
  luxonis_ml/nn_archive/config_building_blocks/enums/data_type.py
  luxonis_ml/nn_archive/config_building_blocks/enums/decoding.py
  tests/test_nn_archive/heads.py
  tests/test_nn_archive/test_nn_archive.py
Labels: enhancement

#133 Minor Version Bump (v0.2.3)
  pyproject.toml
Labels: release

#125 Nested Annotations Support
  luxonis_ml/data/datasets/luxonis_dataset.py
  tests/test_data/test_annotations.py
Labels: enhancement

#135 NN Archive - Output Layout
  luxonis_ml/nn_archive/config_building_blocks/base_models/input.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/output.py
  tests/test_nn_archive/test_nn_archive.py
Labels: enhancement

#128 Simplified Remote Datasets
  .gitignore
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/datasets/source.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/parsers/luxonis_parser.py
  luxonis_ml/utils/__init__.py
  luxonis_ml/utils/environ.py
  luxonis_ml/utils/filesystem.py
  luxonis_ml/utils/rich_utils.py
  media/coverage_badge.svg
  tests/conftest.py
  tests/test_data/test_dataset.py
  tests/test_data/test_task_ingestion.py
  tests/test_utils/test_filesystem.py
Labels: enhancement

#139 Fix LuxonisDataset Metadata Path
  luxonis_ml/data/datasets/luxonis_dataset.py
  tests/test_data/test_dataset.py
Labels: fix, data

#138 Loaders Registry
  luxonis_ml/data/__init__.py
  luxonis_ml/data/loaders/__init__.py
  luxonis_ml/data/loaders/base_loader.py
Labels: enhancement, data
