Repository luxonis/luxonis-ml, pull requests merged in 2024-06, with the labels that each got.

#109 NN Archive - Layout Info
  luxonis_ml/nn_archive/config_building_blocks/base_models/input.py
  tests/test_nn_archive/test_nn_archive.py
Labels: enhancement

#110 Annotations Refactor
  examples/Data_Custom_Example.ipynb
  examples/Data_Parser_Example.ipynb
  luxonis_ml/__init__.py
  luxonis_ml/__main__.py
  luxonis_ml/data/__init__.py
  luxonis_ml/data/__main__.py
  luxonis_ml/data/augmentations/__init__.py
  luxonis_ml/data/augmentations/batch_compose.py
  luxonis_ml/data/augmentations/utils.py
  luxonis_ml/data/datasets/__init__.py
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/datasets/base_dataset.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/datasets/source.py
  luxonis_ml/data/loader.py
  luxonis_ml/data/loaders/__init__.py
  luxonis_ml/data/loaders/base_loader.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/data/parsers/classification_directory_parser.py
  luxonis_ml/data/parsers/coco_parser.py
  luxonis_ml/data/parsers/create_ml_parser.py
  luxonis_ml/data/parsers/darknet_parser.py
  luxonis_ml/data/parsers/luxonis_parser.py
  luxonis_ml/data/parsers/segmentation_mask_directory_parser.py
  luxonis_ml/data/parsers/solo_parser.py
  luxonis_ml/data/parsers/tensorflow_csv_parser.py
  luxonis_ml/data/parsers/voc_parser.py
  luxonis_ml/data/parsers/yolov4_parser.py
  luxonis_ml/data/parsers/yolov6_parser.py
  luxonis_ml/data/utils/constants.py
  luxonis_ml/data/utils/data_utils.py
  luxonis_ml/data/utils/enums.py
  luxonis_ml/enums/__init__.py
  luxonis_ml/enums/enums.py
  luxonis_ml/nn_archive/config.py
  luxonis_ml/nn_archive/config_building_blocks/__init__.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/__init__.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/custom_base_model.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/head_outputs.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/input.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/output.py
  luxonis_ml/nn_archive/model.py
  luxonis_ml/utils/__init__.py
  luxonis_ml/utils/config.py
  luxonis_ml/utils/environ.py
  luxonis_ml/utils/filesystem.py
  luxonis_ml/utils/logging.py
  luxonis_ml/utils/pydantic_utils.py
  luxonis_ml/utils/registry.py
  tests/test_data/test_parsers.py
Labels: enhancement

#114 Fixed Deleted tmp_dir
  luxonis_ml/data/datasets/luxonis_dataset.py
Labels: fix

#115 CLI opts parsing
  luxonis_ml/utils/config.py
Labels: enhancement

#118 LuxonisDataset and LuxonisLoader Tests
  .github/workflows/ci.yaml
  luxonis_ml/data/parsers/luxonis_parser.py
  media/coverage_badge.svg
  requirements-dev.txt
  tests/test_data/test_dataset.py
  tests/test_data/test_parsers.py
Labels: enhancement, tests

#119 Links in README Badges
  README.md
Labels: documentation

#112 Single head class for YOLO models
  luxonis_ml/nn_archive/config_building_blocks/__init__.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/__init__.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/head.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/head_outputs.py
  tests/test_nn_archive/heads.py
  tests/test_nn_archive/test_nn_archive.py
Labels: enhancement
