Repository luxonis/luxonis-ml, pull requests merged in 2024-10, with the labels that each got.

#178 v0.4.0 - Metadata Update
  CONTRIBUTING.md
  README.md
  luxonis_ml/__init__.py
  pyproject.toml
Labels: release

#176 [Feat] Added name attribute to HeadType
  luxonis_ml/nn_archive/config.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/head.py
  requirements-dev.txt
  tests/test_nn_archive/heads.py
  tests/test_nn_archive/test_nn_archive.py
Labels: enhancement, NN Archive

#177 Added automatic clipping for normalized annotations
  luxonis_ml/data/datasets/annotation.py
Labels: fix, data

#180 Fix BBox Annotation Docstring
  luxonis_ml/data/datasets/annotation.py
Labels: documentation, fix, data

#181 Deprecated `datetime.utcnow`
  luxonis_ml/data/datasets/annotation.py
Labels: fix, data

#185 Fixed Incorrect Pyproject Classifier
  pyproject.toml
Labels: release

#184 Improved Duplicate Warnings
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/datasets/utils.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/parsers/classification_directory_parser.py
  luxonis_ml/data/parsers/coco_parser.py
  luxonis_ml/data/parsers/create_ml_parser.py
  luxonis_ml/data/parsers/segmentation_mask_directory_parser.py
  luxonis_ml/data/parsers/voc_parser.py
  luxonis_ml/data/parsers/yolov4_parser.py
Labels: fix, data

#186 Bug Fix: Filtering Issue & Mosaic Transformation Logic Improvement
  luxonis_ml/data/augmentations/custom/mosaic.py
  tests/test_augmentations/test_mosaic.py
Labels: fix

#187 Embedded Python Badge
  README.md
  media/coverage_badge.svg
  media/pybadge.svg
Labels: documentation

#189 LuxonisParser - RoboFlow URL Support
  .github/workflows/ci.yaml
  luxonis_ml/data/parsers/luxonis_parser.py
  luxonis_ml/data/requirements.txt
  luxonis_ml/utils/environ.py
  luxonis_ml/utils/filesystem.py
  tests/test_data/test_parsers.py
Labels: enhancement, data, utils, DevOps

#190 [Hotfix] Config version set to 1.0
  luxonis_ml/__init__.py
  luxonis_ml/nn_archive/config.py
  tests/test_nn_archive/test_nn_archive.py
Labels: fix, hotfix, NN Archive

#191 Add background class for segmentation if pixels without annotations found
  luxonis_ml/data/loaders/luxonis_loader.py
Labels: fix, release

#192 Clip width and height in BBoxAnnotation
  luxonis_ml/data/datasets/annotation.py
  tests/test_data/test_ann_creation.py
Labels: fix, release

#195 Updated auto labeler configuration
  .github/labeler.yaml
  .github/workflows/add-metadata.yaml
  .github/workflows/ci.yaml
Labels: DevOps
