Repository luxonis/luxonis-ml, pull requests merged in 2024-09, with the labels that each got.

#163 Coverage 90%
  luxonis_ml/data/augmentations/batch_compose.py
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/utils/data_utils.py
  luxonis_ml/tracker/tracker.py
  luxonis_ml/utils/environ.py
  luxonis_ml/utils/filesystem.py
  media/coverage_badge.svg
  pyproject.toml
  tests/test_augmentations/test_batched.py
  tests/test_data/test_dataset.py
Labels: fix, tests, utils, tracker

#164 Fix Loading Annotations
  luxonis_ml/data/loaders/luxonis_loader.py
Labels: fix, data

#165 Kozlov721 patch 1
  .github/CODEOWNERS
Labels: DevOps

#167 Augmentations hot-fix
  luxonis_ml/data/augmentations/utils.py
Labels: fix

#170 Removed `rich.print` For Debugging
  luxonis_ml/__init__.py
Labels: fix

#169 Simplified `make_splits` Parameters
  luxonis_ml/data/datasets/base_dataset.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/utils/__init__.py
  luxonis_ml/utils/logging.py
  pyproject.toml
  tests/test_data/test_dataset.py
  tests/test_data/test_task_ingestion.py
Labels: enhancement, utils

#168 Duplicate Data Warning
  luxonis_ml/data/datasets/luxonis_dataset.py
Labels: enhancement, data

#171 Fixed Order of Transforms in Augmentations
  luxonis_ml/data/augmentations/utils.py
Labels: fix, data

#172 Added `typeguard` to requirements-utils
  luxonis_ml/utils/requirements.txt
Labels: fix, utils

#173 Fixed `guard_extras` to raise `ImportError`
  luxonis_ml/guard_extras.py
Labels: fix

#174 Configured `codecov`
  .github/labeler.yaml
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  README.md
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/input.py
  pyproject.toml
  tests/test_data/test_annotations.py
  tests/test_data/test_dataset.py
  tests/test_nn_archive/test_nn_archive.py
  tests/test_utils/test_filesystem.py
Labels: tests, DevOps

#175 Removed `numpy.typing`
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/utils/data_utils.py
Labels: fix
