Repository luxonis/luxonis-ml, pull requests merged in 2024-11, with the labels that each got.

#198 Update docs generation
  .github/workflows/ci.yaml
  luxonis_ml/data/datasets/annotation.py
Labels: documentation, fix, DevOps

#196 LuxonisML Data Docs
  README.md
  luxonis_ml/data/README.md
Labels: release, data

#193 Fix: Prevent training from crashing when unable to connect to MLflow.
  luxonis_ml/tracker/tracker.py
Labels: fix, tracker

#194 fix: sort classes alphabetically
  luxonis_ml/data/datasets/luxonis_dataset.py
  tests/test_data/test_dataset.py
Labels: fix, release, data

#203 fewer reconnections
  luxonis_ml/tracker/tracker.py
Labels: fix, tracker

#199 hotifx: adding file names to be ignored by the COCO parser
  luxonis_ml/data/parsers/coco_parser.py
Labels: fix

#204 fix: add background to multiclass only
  luxonis_ml/data/loaders/luxonis_loader.py
Labels: fix

#202 Fix augmented loader with no labels
  luxonis_ml/data/loaders/luxonis_loader.py
  tests/test_data/test_dataset.py
Labels: fix

#201 Added `pydoctor` to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#205 Speed up semantic segmentation annotations loading
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/loaders/luxonis_loader.py
Labels: enhancement

#200 Added dai_type to NNArchive
  luxonis_ml/nn_archive/config.py
  luxonis_ml/nn_archive/config_building_blocks/__init__.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/head_metadata.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/input.py
  luxonis_ml/nn_archive/config_building_blocks/enums/__init__.py
  luxonis_ml/nn_archive/config_building_blocks/enums/data_type.py
  luxonis_ml/nn_archive/config_building_blocks/enums/decoding.py
  tests/test_nn_archive/heads.py
  tests/test_nn_archive/test_nn_archive.py
Labels: enhancement, NN Archive

#207 docs: fixed warnings and improved formatting
  luxonis_ml/data/__init__.py
  luxonis_ml/data/augmentations/batch_compose.py
  luxonis_ml/data/augmentations/custom/letterbox_resize.py
  luxonis_ml/data/augmentations/custom/mixup.py
  luxonis_ml/data/augmentations/custom/mosaic.py
  luxonis_ml/data/augmentations/utils.py
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/datasets/base_dataset.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/datasets/source.py
  luxonis_ml/data/loaders/base_loader.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/parsers/base_parser.py
Labels: documentation, fix, data

#209 feat: log_matrix
  luxonis_ml/tracker/tracker.py
Labels: enhancement, tracker
