Repository luxonis/luxonis-ml, pull requests merged in 2025-03, with the labels that each got.

#260 Fix: duplicate warning with multiple tasks
  luxonis_ml/data/utils/data_utils.py
Labels: fix

#263 Fix: remote deletion
  luxonis_ml/data/datasets/luxonis_dataset.py
Labels: fix

#261 Fix: `pycocotools` warnings
  luxonis_ml/data/datasets/annotation.py
Labels: fix

#262 Replaced `pkg_resources` with `importlib.metadata`
  luxonis_ml/data/__init__.py
Labels: enhancement, data

#269 PoC: Dataset export
  luxonis_ml/data/__main__.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/data/parsers/coco_parser.py
  tests/test_data/test_dataset.py
  tests/test_data/test_export.py
Labels: enhancement, data, CLI

#270 Deprecate `DatasetRecord.task`
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/parsers/base_parser.py
  tests/test_data/test_annotations.py
Labels: fix

#271 Updated deprecated `task` in tests and parsers
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/data/parsers/solo_parser.py
  luxonis_ml/data/utils/data_utils.py
  tests/test_data/test_classes_ordering.py
  tests/test_data/test_dataset_integration.py
  tests/test_data/test_task_ingestion.py
Labels: fix

#274 Fix for compatible versions
  luxonis_ml/data/requirements.txt
  luxonis_ml/nn_archive/requirements.txt
  luxonis_ml/utils/requirements.txt
  requirements-dev.txt
Labels: fix, data, utils, NN Archive

#273 Fix: Creating output directory in tracker
  luxonis_ml/tracker/tracker.py
Labels: fix, tracker

#275 Fix: Empty segmentations
  luxonis_ml/data/augmentations/albumentations_engine.py
  luxonis_ml/data/augmentations/custom/mosaic.py
  luxonis_ml/data/loaders/luxonis_loader.py
  tests/test_data/test_augmentations/test_empty.py
Labels: fix

#278 Enum argument literals
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
Labels: enhancement

#266 Fix SOLOParser bug, add docs for merging/cloning datasets
  luxonis_ml/data/README.md
  luxonis_ml/data/parsers/solo_parser.py
Labels: documentation, fix, data

#277 Feature: Task names override in parsers
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/data/parsers/luxonis_parser.py
Labels: enhancement

#280 Feature: safe YAML
  luxonis_ml/utils/config.py
Labels: fix, utils

#279 Feature: Dataset reproducibility
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/requirements.txt
  tests/test_data/test_loader.py
Labels: fix, data, DevOps

#282 Fix Dataset Corruption from Missing Class Info in Last Yield
  luxonis_ml/data/datasets/luxonis_dataset.py
  tests/test_data/test_dataset.py
Labels: fix

#284 Fix failing keypoints loader
  luxonis_ml/data/augmentations/albumentations_engine.py
  tests/test_data/test_dataset.py
Labels: fix

#285 Fix: Pathlib representer for `yaml.safe_dump`
  luxonis_ml/utils/config.py
  tests/test_utils/test_config.py
Labels: fix, utils

#289 Hotfix: Recursion in tracker artifact logging
  .github/workflows/ci.yaml
  luxonis_ml/tracker/tracker.py
Labels: fix, tracker, DevOps

#287 Devops: Fixed `codecov` base report
  .github/workflows/ci.yaml
Labels: data, DevOps

#290 LuxonisML `v0.6.4`
  luxonis_ml/__init__.py
Labels: tracker, DevOps

#291 Fix: Recursion in tracker artifact logging
  luxonis_ml/tracker/tracker.py
Labels: fix, tracker

#288 Feat Dataset Health
  luxonis_ml/data/README.md
  luxonis_ml/data/__main__.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/parsers/voc_parser.py
  luxonis_ml/data/utils/__init__.py
  luxonis_ml/data/utils/data_utils.py
  luxonis_ml/data/utils/plot_utils.py
  tests/test_data/test_health.py
Labels: documentation, enhancement, data, CLI, DevOps

#292 Feature: Support for export of segmentation masks
  luxonis_ml/data/__main__.py
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/data/parsers/native_parser.py
  luxonis_ml/data/parsers/voc_parser.py
  luxonis_ml/utils/__init__.py
  luxonis_ml/utils/logging.py
  tests/test_data/test_export.py
Labels: enhancement, data, utils, CLI

#293 Dataset Deletion After Tests
  tests/conftest.py
  tests/test_data/test_dataset.py
Labels: fix, tests

#294 Add Keypoint Labels Plotting Next to Keypoints
  luxonis_ml/data/utils/visualizations.py
  tests/test_data/test_utils/test_visualizations.py
Labels: fix

#296 Compatibility fix for importlib package.
  luxonis_ml/data/__init__.py
Labels: fix, data
