Repository luxonis/luxonis-ml, pull requests merged in 2025-01, with the labels that each got.

#218 Native LDF Parser
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/data/parsers/classification_directory_parser.py
  luxonis_ml/data/parsers/coco_parser.py
  luxonis_ml/data/parsers/create_ml_parser.py
  luxonis_ml/data/parsers/darknet_parser.py
  luxonis_ml/data/parsers/luxonis_parser.py
  luxonis_ml/data/parsers/native_parser.py
  luxonis_ml/data/parsers/segmentation_mask_directory_parser.py
  luxonis_ml/data/parsers/solo_parser.py
  luxonis_ml/data/parsers/tensorflow_csv_parser.py
  luxonis_ml/data/parsers/voc_parser.py
  luxonis_ml/data/parsers/yolov4_parser.py
  luxonis_ml/data/parsers/yolov6_parser.py
  luxonis_ml/enums/enums.py
Labels: enhancement, utils

#220 feat: skip dataset re-download and ensure safe dataset syncing
  luxonis_ml/data/__init__.py
  luxonis_ml/data/datasets/__init__.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/utils/__init__.py
  luxonis_ml/data/utils/enums.py
  luxonis_ml/tracker/tracker.py
  tests/test_data/test_task_ingestion.py
Labels: enhancement, data, tracker

#221 Feat/merge datasets
  .github/workflows/ci.yaml
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/requirements.txt
  luxonis_ml/utils/filesystem.py
  tests/test_data/test_dataset.py
Labels: enhancement, tests, data, utils, DevOps

#222 Default empty task name
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/data/parsers/native_parser.py
  luxonis_ml/data/utils/visualizations.py
  tests/test_data/test_annotations.py
  tests/test_data/test_dataset.py
  tests/test_data/test_parsers.py
  tests/test_data/test_task_ingestion.py
  tests/test_data/test_utils/test_visualizations.py
Labels: enhancement

#223 Fix batch augmentations for `p=0`
  luxonis_ml/data/augmentations/batch_compose.py
  luxonis_ml/data/augmentations/utils.py
  tests/test_data/test_augmentations/test_batched.py
Labels: fix

#224 Fixes for nested labels
  luxonis_ml/data/__main__.py
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/datasets/base_dataset.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/utils/__init__.py
  luxonis_ml/data/utils/parquet.py
  tests/test_data/test_annotations.py
  tests/test_data/test_dataset.py
  tests/test_data/test_dataset_integration.py
  tests/test_data/test_task_ingestion.py
  tests/test_data/utils.py
Labels: fix, data, CLI

#225 Registry Type Fix
  luxonis_ml/utils/registry.py
  tests/test_utils/test_registry.py
Labels: fix, utils

#226 Loader `color_space` attribute
  luxonis_ml/data/loaders/luxonis_loader.py
  tests/test_data/test_dataset_integration.py
Labels: fix

#227 Additional registry fixes
  luxonis_ml/data/__init__.py
  luxonis_ml/data/augmentations/custom/__init__.py
  luxonis_ml/utils/registry.py
Labels: fix, data, utils

#230 COCO instance segmentation parser
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/data/parsers/coco_parser.py
  tests/test_data/test_parsers.py
Labels: enhancement

#228 Fix empty labels
  luxonis_ml/data/augmentations/albumentations_engine.py
  luxonis_ml/data/augmentations/base_engine.py
  luxonis_ml/data/augmentations/batch_compose.py
  luxonis_ml/data/augmentations/batch_transform.py
  luxonis_ml/data/datasets/base_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/typing.py
  luxonis_ml/utils/config.py
  luxonis_ml/utils/environ.py
  tests/conftest.py
  tests/test_data/test_annotations.py
  tests/test_data/test_dataset.py
  tests/test_data/test_dataset_integration.py
  tests/test_data/test_task_ingestion.py
  tests/test_data/utils.py
  tests/test_nn_archive/test_nn_archive.py
Labels: fix, tests, utils

#231 Distributed tests
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/datasets/utils.py
  luxonis_ml/data/parsers/luxonis_parser.py
  luxonis_ml/nn_archive/config_building_blocks/__init__.py
  luxonis_ml/nn_archive/config_building_blocks/base_models/__init__.py
  luxonis_ml/typing.py
  luxonis_ml/utils/filesystem.py
  luxonis_ml/utils/requirements-fsspec.txt
  luxonis_ml/utils/requirements.txt
  pyproject.toml
  requirements-dev.txt
  tests/conftest.py
  tests/test_data/test_annotations.py
  tests/test_data/test_dataset.py
  tests/test_data/test_parsers.py
  tests/test_nn_archive/test_nn_archive.py
  tests/test_utils/test_filesystem.py
Labels: tests, utils, DevOps

#232 Fix special augmentations with no bboxes
  luxonis_ml/data/augmentations/albumentations_engine.py
  tests/test_data/test_augmentations/test_special.py
Labels: fix

#233 Fix incompatibility with LDF 1.0.0
  luxonis_ml/data/__main__.py
  luxonis_ml/data/datasets/luxonis_dataset.py
Labels: fix, data, CLI

#234 Metadata improvements
  luxonis_ml/data/__init__.py
  luxonis_ml/data/datasets/__init__.py
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/utils/data_utils.py
  tests/test_data/test_dataset.py
Labels: enhancement, data

#236 Color helper functions
  luxonis_ml/data/augmentations/custom/letterbox_resize.py
  luxonis_ml/data/utils/__init__.py
  luxonis_ml/data/utils/data_utils.py
  luxonis_ml/data/utils/visualizations.py
  luxonis_ml/typing.py
  tests/test_data/test_utils/test_visualizations.py
Labels: enhancement

#239 Cleaned-up requirements
  luxonis_ml/data/requirements.txt
  luxonis_ml/nn_archive/requirements.txt
Labels: data, NN Archive

#238 fix mosaic4
  luxonis_ml/data/augmentations/custom/mosaic.py
  tests/test_data/test_augmentations/test_mosaic.py
Labels: fix, data

#237 fix warn on duplicates
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/utils/data_utils.py
Labels: fix

#241 `loguru`
  luxonis_ml/__init__.py
  luxonis_ml/__main__.py
  luxonis_ml/data/__main__.py
  luxonis_ml/data/augmentations/albumentations_engine.py
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/parsers/coco_parser.py
  luxonis_ml/data/parsers/luxonis_parser.py
  luxonis_ml/data/utils/data_utils.py
  luxonis_ml/guard_extras.py
  luxonis_ml/nn_archive/__main__.py
  luxonis_ml/tracker/tracker.py
  luxonis_ml/utils/__init__.py
  luxonis_ml/utils/environ.py
  luxonis_ml/utils/filesystem.py
  luxonis_ml/utils/logging.py
  luxonis_ml/utils/requirements.txt
  tests/conftest.py
  tests/test_data/test_dataset_integration.py
Labels: enhancement, tests, data, utils, NN Archive, tracker, CLI
