Repository luxonis/luxonis-ml, pull requests merged in 2025-04, with the labels that each got.

#297 Filter Problematic Augmentations
  luxonis_ml/data/augmentations/albumentations_engine.py
  tests/test_data/test_augmentations/test_special.py
Labels: fix

#299 optional nested tensorboard logs
  luxonis_ml/tracker/tracker.py
Labels: fix, tracker

#301 Add Progress Bar to put_dir
  luxonis_ml/utils/filesystem.py
Labels: enhancement, utils

#300 Faster Loader
  luxonis_ml/data/loaders/README.md
  luxonis_ml/data/loaders/luxonis_loader.py
  tests/test_data/test_loader.py
Labels: documentation, fix

#302 Show bbox class labels and scale keypoints dynamically
  luxonis_ml/data/utils/visualizations.py
  tests/test_data/test_utils/test_visualizations.py
Labels: fix

#307 Per Instance Inspect
  luxonis_ml/data/__main__.py
Labels: enhancement, data, CLI

#306 Export into multiple zip files
  luxonis_ml/data/__main__.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  tests/test_data/test_export.py
Labels: fix, data, CLI

#309 Link To Examples
  examples/Data_Custom_Example.ipynb
  examples/Data_Parser_Example.ipynb
  luxonis_ml/data/README.md
Labels: documentation, fix, data

#310 Docs: Augmentations
  luxonis_ml/data/README.md
  luxonis_ml/data/augmentations/README.md
  luxonis_ml/data/augmentations/albumentations_engine.py
  luxonis_ml/data/augmentations/base_engine.py
  luxonis_ml/data/loaders/README.md
Labels: documentation, data

#311 Updated GH publish workflow
  .github/workflows/python-publish.yml
Labels: fix

#313 Updated PyBadge
  README.md
Labels: documentation, fix

#304 Augmentation Tests
  luxonis_ml/data/augmentations/albumentations_engine.py
  luxonis_ml/data/augmentations/base_engine.py
  luxonis_ml/data/augmentations/batch_compose.py
  luxonis_ml/data/loaders/README.md
  luxonis_ml/data/loaders/luxonis_loader.py
  tests/conftest.py
  tests/test_data/test_loader.py
Labels: documentation, fix, tests
