Repository luxonis/luxonis-ml, pull requests merged in 2025-02, with the labels that each got.

#244 Removed `numpy` dependency in `luxonis_ml.typing`
  luxonis_ml/typing.py
Labels: fix

#243 fix kpts and bbox edge cases
  luxonis_ml/data/augmentations/base_engine.py
  luxonis_ml/data/augmentations/utils.py
  tests/test_data/test_loader.py
Labels: fix

#245 Sort classes alphabetically
  luxonis_ml/data/__init__.py
  luxonis_ml/data/datasets/__init__.py
  luxonis_ml/data/datasets/base_dataset.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/datasets/metadata.py
  luxonis_ml/data/datasets/migration.py
  luxonis_ml/data/datasets/source.py
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/parsers/coco_parser.py
  luxonis_ml/data/requirements.txt
  luxonis_ml/data/utils/constants.py
  luxonis_ml/data/utils/data_utils.py
  luxonis_ml/data/utils/visualizations.py
  tests/test_data/test_classes_ordering.py
  tests/test_data/test_dataset.py
  tests/test_data/test_dataset_metadata.py
  tests/test_data/test_loader.py
  tests/test_data/test_utils/test_visualizations.py
Labels: fix, data, CLI

#248 Added missing `pyarrow` requirement
  luxonis_ml/data/requirements.txt
  requirements-dev.txt
Labels: fix, data

#249 Check requirements on release
  .github/workflows/ci.yaml
Labels: DevOps

#251 Added `__contains__` to registry
  luxonis_ml/utils/registry.py
  tests/test_utils/test_registry.py
Labels: enhancement, utils

#252 Graph utilities
  luxonis_ml/utils/__init__.py
  luxonis_ml/utils/graph.py
  tests/test_utils/test_graph.py
Labels: enhancement, utils

#253 Added semgrep workflow with some fixes
  .github/workflows/semgrep.yaml
  examples/utils/data_utils.py
  examples/utils/torch_utils.py
  luxonis_ml/data/parsers/voc_parser.py
  luxonis_ml/nn_archive/__main__.py
Labels: enhancement, NN Archive, CLI

#255 Fix: empty labels
  luxonis_ml/data/__main__.py
  luxonis_ml/data/augmentations/albumentations_engine.py
  luxonis_ml/data/augmentations/base_engine.py
  luxonis_ml/data/augmentations/batch_transform.py
  luxonis_ml/data/augmentations/custom/mosaic.py
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/datasets/base_dataset.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
  tests/test_data/test_augmentations/test_batched.py
  tests/test_data/test_augmentations/test_empty.py
  tests/test_data/test_augmentations/test_special.py
  tests/test_data/test_dataset.py
  tests/test_data/utils.py
Labels: fix, data, CLI

#256 fix examples
  examples/Data_Custom_Example.ipynb
  examples/Data_Parser_Example.ipynb
  luxonis_ml/data/README.md
  luxonis_ml/data/requirements.txt
  requirements-dev.txt
Labels: documentation, fix, data

#257 Fix `opencv` with internal `pip` install
  README.md
  extra_requirements/gcs.txt
  extra_requirements/mlflow.txt
  extra_requirements/roboflow.txt
  extra_requirements/s3.txt
  luxonis_ml/data/parsers/luxonis_parser.py
  luxonis_ml/data/requirements.txt
  luxonis_ml/nn_archive/requirements.txt
  luxonis_ml/utils/filesystem.py
  luxonis_ml/utils/requirements-fsspec.txt
  luxonis_ml/utils/requirements.txt
  pyproject.toml
  requirements-dev.txt
Labels: documentation, fix, data, utils, NN Archive

#259 Fix duplicate exception logging
  luxonis_ml/utils/logging.py
Labels: fix, utils
