Repository luxonis/luxonis-ml, pull requests merged in 2025-07, with the labels that each got.

#338 Generalized container types for `Params`
  luxonis_ml/typing.py
Labels: fix

#339 Feature: Disable `rich` logging
  luxonis_ml/utils/logging.py
  pyproject.toml
Labels: enhancement, utils

#343 Remove Duplicates
  luxonis_ml/data/README.md
  luxonis_ml/data/__main__.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  tests/test_data/test_health.py
Labels: documentation, enhancement, data, CLI

#344 Improved `export` support
  luxonis_ml/data/__main__.py
  luxonis_ml/data/datasets/luxonis_dataset.py
Labels: fix, data, CLI

#345 Less Restrictive Parsers
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/data/parsers/classification_directory_parser.py
  luxonis_ml/data/parsers/coco_parser.py
  luxonis_ml/data/parsers/create_ml_parser.py
  luxonis_ml/data/parsers/darknet_parser.py
  luxonis_ml/data/parsers/native_parser.py
  luxonis_ml/data/parsers/segmentation_mask_directory_parser.py
  luxonis_ml/data/parsers/solo_parser.py
  luxonis_ml/data/parsers/tensorflow_csv_parser.py
  luxonis_ml/data/parsers/voc_parser.py
  luxonis_ml/data/parsers/yolov4_parser.py
  luxonis_ml/data/parsers/yolov6_parser.py
Labels: enhancement

#342 Clone/Merge Specified Splits
  luxonis_ml/data/__main__.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  tests/test_data/test_dataset.py
Labels: enhancement, data, CLI, DevOps

#347 Updated `mlflow` version
  extra_requirements/mlflow.txt
Labels: fix

#348 Make `bbox_area_threshold` and `min_bbox_visibility` configurable
  luxonis_ml/data/augmentations/albumentations_engine.py
  luxonis_ml/data/augmentations/base_engine.py
  luxonis_ml/data/augmentations/utils.py
  luxonis_ml/data/loaders/luxonis_loader.py
Labels: fix

#349 Fix: Missing `test` split for COCO parser
  luxonis_ml/data/parsers/coco_parser.py
Labels: fix

#330 Feat: Multi-Input Support
  luxonis_ml/data/README.md
  luxonis_ml/data/__main__.py
  luxonis_ml/data/augmentations/README.md
  luxonis_ml/data/augmentations/albumentations_engine.py
  luxonis_ml/data/augmentations/base_engine.py
  luxonis_ml/data/augmentations/batch_compose.py
  luxonis_ml/data/augmentations/custom/letterbox_resize.py
  luxonis_ml/data/augmentations/custom/mixup.py
  luxonis_ml/data/datasets/README.md
  luxonis_ml/data/datasets/annotation.py
  luxonis_ml/data/datasets/base_dataset.py
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/datasets/utils.py
  luxonis_ml/data/loaders/README.md
  luxonis_ml/data/loaders/luxonis_loader.py
  luxonis_ml/data/parsers/base_parser.py
  luxonis_ml/data/parsers/native_parser.py
  luxonis_ml/data/utils/__init__.py
  luxonis_ml/data/utils/data_utils.py
  luxonis_ml/data/utils/parquet.py
  luxonis_ml/data/utils/visualizations.py
  luxonis_ml/typing.py
  tests/test_data/test_annotations.py
  tests/test_data/test_augmentations/test_batched.py
  tests/test_data/test_augmentations/test_special.py
  tests/test_data/test_dataset.py
  tests/test_data/test_health.py
  tests/test_data/test_loader.py
  tests/test_data/test_multi_input.py
  tests/test_data/test_utils/test_visualizations.py
Labels: documentation, enhancement, data, CLI

#353 Updated links to ai-tutorials
  luxonis_ml/data/README.md
Labels: documentation, data

#354 Log deprecation message only once
  luxonis_ml/data/datasets/annotation.py
Labels: enhancement

#351 Add class reordering in dataset
  luxonis_ml/data/datasets/README.md
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
  tests/test_data/test_dataset.py
Labels: documentation, enhancement

#356 Environ secrets
  luxonis_ml/data/parsers/luxonis_parser.py
  luxonis_ml/utils/environ.py
  luxonis_ml/utils/filesystem.py
  tests/test_utils/test_config.py
  tests/test_utils/test_environ.py
Labels: enhancement, utils
