Repository luxonis/luxonis-ml, pull requests merged in 2025-05, with the labels that each got.

#312 Feat: Symetric Keypoints Flip Transformation
  luxonis_ml/data/README.md
  luxonis_ml/data/augmentations/albumentations_engine.py
  luxonis_ml/data/augmentations/custom/__init__.py
  luxonis_ml/data/augmentations/custom/symetric_keypoints_flip.py
  tests/test_data/test_augmentations/test_special.py
  tests/test_data/test_augmentations/test_symetric_keypoints_flip.py
  tests/test_data/test_loader.py
Labels: documentation, fix, data

#316 Add BOM compatibility tests
  .github/workflows/bom-tests.yaml
Labels: DevOps

#320 Feature: Grayscale Images Support
  luxonis_ml/data/loaders/luxonis_loader.py
  tests/test_data/test_loader.py
Labels: enhancement

#319 Bom Tests
  .github/workflows/bom-tests.yaml
Labels: fix

#321 Clean Up After Tests
  tests/conftest.py
  tests/test_data/test_dataset.py
Labels: fix, tests

#323 Test DataDreamer on PR
  .github/workflows/bom-tests.yaml
Labels: fix

#325 Fix redundant media downloads & improve loader initialization performance
  luxonis_ml/data/datasets/luxonis_dataset.py
  luxonis_ml/data/loaders/luxonis_loader.py
Labels: fix

#326 Error on empty `make_splits`
  luxonis_ml/data/datasets/luxonis_dataset.py
  tests/test_data/test_dataset.py
Labels: fix
